.main-div {
  height: 75vh;
}

.background {
  background-image: url("../../assets/backgroud.jpeg");
  height: 300px;
  width: 100%;
  background-size: auto 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cal {
  margin-top: 32vh;
  min-width: 450px;
  height: 500px;
  background-color: whitesmoke;
  box-shadow: 7px 7px 0px 0px #88888871;
  height: fit-content;
}

.head {
  display: flex;
  background-color: rgba(128, 128, 128, 0.379);
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-weight: bolder;
  font-size: 1.2rem;
}

.max-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: 1px solid grey;
  margin: 0.3rem;
  box-shadow: 2px 2px 0px 0px #88888871;
  font-weight: bolder;
  background-color: white;
}

.max-button:hover{
  background-color: rgba(128, 128, 128, 0.122);
}

.first-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid grey;
  margin-block: 0.5rem;
  font-weight: bolder;
  background-color: white;
}

.first-input input {
  padding: 0.5rem;
  font-size: large;
  outline: none;
  border: none;
  width: 100%;
}

.first-input p {
  margin-inline: 0.5rem;
}

.first-input > p {
  background-color: rgba(128, 128, 128, 0.437);
  padding: 0.2rem;
  color: grey;
  font-weight: bolder
}

.bottom {
  padding-inline: 1rem;
}

.button p {
  font-size: smaller;
}

.mid-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.2rem;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;

}

.price .val{
  font-size: smaller;
  text-align: end;
}

.others {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.connect-wallet {
  background-color: #024cde;
  width: 100%;
  text-align: center;
  color: white;
  font-size: larger;
  padding: 1rem;
  margin-block: 1rem;
  font-weight: bolder;
  box-shadow: 4px 4px 0px 0px #888888d0;
}

.connect-wallet:active{
  background-color: #022978;
  box-shadow: 0px 0px 0px 0px #888888d0;
}

.price-item{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 735px) {
  .cal {
    margin-top: 18rem;
  }
}

@media screen and (max-width: 475px) {
  .cal {
    min-width: 90%;
    height: fit-content;
  }
}

@media (max-height: 700px) {
  .cal {
    margin-top: 18rem;
  }

  .main-div {
    height: 90vh;
  }

}
