.navbar {
  font-size: small;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.7rem;
  background-color: whitesmoke;
  border: 1px solid rgba(128, 128, 128, 0.377);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  
}

.row {
  display: flex;
}

.row p {
  margin-inline: 0.3rem;
}

.pic img {
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 0.5rem;
}

@media screen and (max-width: 735px) {
  .navbar {
      display: none;
  }
}
